
/*Color Scheme:
Dark Brn: B26100
Lt Org: FF9619
Drk Org: FF8A00
Drk Blu: 007BB2
Lt Blu: 03B0FF
*/

body {
    background-color:#FF8A00;
}

#wrapper {
    background-color: white;
    width: 95%;
    max-width: 906px;
    padding: 5px;
    margin: 0 auto;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 1em;
    border: 1px solid #FF8A00;
    border-radius: 15px;
}

#wrapper #header {
    background-color: lawngreen;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: inline-block;
}

#wrapper #header img {
    width: 100%;
}

#wrapper #navbar {
    text-align: justify;
}

#wrapper #navbar ul, #wrapper #products ul, #wrapper #social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#wrapper #navbar li, #wrapper #social li {
    display: block;
    float: left;
    text-align: center;
}

#wrapper #navbar li {
    width: 16.6666%;
}

#wrapper #social li {
    width:20%;
}

#wrapper #navbar a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
    color: #000000;
    font-size: 1.2vmax;
}

#wrapper #navbar a:hover {
    background-color: #dddeee
}

#wrapper #navbar a:active {
    background-color: #dddccc;
}

#wrapper #main {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}



#wrapper #main #mission, #wrapper #main #products, #wrapper #main #employees, #wrapper #main #social {
    text-align: center;
}

#wrapper #products li {
    padding-bottom: 15px;
}

#wrapper #products img {
    display: block;
    max-height: 150px;
    margin: 0 auto;
}

#wrapper #social img {
    border-style: none;
}

#wrapper #products .left {
    width: 25%;
}

#wrapper #products .right {
    width: 75%;
    text-align: left;
}

#wrapper #footer {
    padding-top: 20px;
    font-size: 1.2em;
}

.left {
    float: left;
    width: 50%;
    text-align: center;
}

.right {
    float: right;
    width: 50%;
    text-align: center;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

#wrapper #main h1, #wrapper #main h2 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}